<div class="body">
  <div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>

    <p>Vous avez réserver la salle : {{parsestoragereservation.numero_salle}}</p>
    <p>Date : {{parsestoragereservation.date |  date:'d/M/yy'}}</p>
    <p>Heure début : {{parsestoragereservation.datedebut}}</p>
    <p>Heure fin : {{parsestoragereservation.datefin}}</p>
    <br>
    <a class="text-dark" href="/home"> Nouvelle Recherche</a>
  </div>




</div>